@media screen and (max-width: 1200px) {
  .btn {
    padding: 19px 33px 23px 30px;
    font-size: 15px;
    margin-right: 74px;
    height: 63px;
  }
  .content h1 {
    font-size: 54px;
  }
  .content p {
    font-size: 17px;
  }
  header .img img {
    width: 540px;
  }
  .title-font-roboto {
    font-size: 33px;
  }
  .font-roboto {
    font-size: 54px;
  }
  .orange-text {
    font-size: 54px;
  }
  .little-text {
    font-size: 14px;
  }
  .underline {
    width: 980px;
  }
  .main-block .left-block {
    width: 490px;
  }
  .main-block .left-block img {
    width: 470px;
  }
  .main-block .left-block .small-img img {
    height: 480px;
  }
  .main-block .right-block .img {
    width: 470px;
  }
  .main-block .right-block .div-btn {
    width: 540px;
  }
  .top-navbar img {
    width: 160px;
  }
  .top-navbar .nav-ul a {
    font-size: 15px;
  }
  .top-navbar .basket img {
    width: 35px;
  }
  .main-block p.little-text {
    width: 470px;
  }
  .orange-text.small-orange-text {
    font-size: 18px;
  }
  .card .card-images img {
    width: 450px;
    height: 550px;
  }
  .card img {
    width: 65px;
    height: 65px;
  }
  .container .video {
    width: 990px;
  }
  .container .icon {
    width: 260px;
    margin-left: 460px;
    margin-top: -410px;
  }
  .black-text {
    font-size: 16px;
  }
  .video-text .col-4 img {
    width: 160px;
    margin-left: 70px;
  }
  .video-text .col-4 h2 {
    font-size: 20px;
  }
  .orange-card {
    padding: 120px 18px 60px 18px;
  }
  .card.reverse-card .card-images img {
    height: 520px;
  }
  .card.reverse-card .card-content p img {
    width: 14px;
    height: 14px;
  }
  .white-block {
    width: 340px;
    height: 270px;
    padding: 35px 40px 57px 38px;
    margin-left: 280px;
  }
  .photos .col-6 img {
    width: 450px;
    height: 290px;
  }
  .row.white-blocks .col-4 {
    width: 410px;
  }
  .row.white-blocks .col-4:nth-child(2) {
    margin-left: 633px;
  }
  .second-photo {
    margin-left: 523px;
  }
  .white-blocks .title-font-roboto {
    font-size: 22px;
  }
  footer .left-sidebar {
    width: 300px;
  }
  footer .left-sidebar img {
    width: 160px;
  }
  footer .footer-navbar a {
    font-size: 15px;
  }
  footer .footer-navbar {
    width: 150px;
  }
  footer .footer-card {
    width: 300px;
    margin-left: 30px;
    padding: 30px 40px 30px 35px;
  }
  .footer-card .btn {
    width: 236px;
  }
  .footer-card .btn.white-btn {
    width: 26px;
    padding: 16px 25px 20px 25px;
  }
  .first-box {
    margin-left: 115px;
  }
  .inline p.black-text {
    font-size: 14px;
  }
  .font-small-roboto {
    font-size: 27px;
  }
  .black-little-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .btn {
    padding: 16px 28px 20px 28px;
    font-size: 14px;
    margin-right: 70px;
  }
  .content h1 {
    font-size: 50px;
  }
  .content p {
    font-size: 15px;
  }
  header .img img {
    width: 450px;
  }
  .title-font-roboto {
    font-size: 27px;
  }
  .font-roboto {
    font-size: 48px;
  }
  .orange-text {
    font-size: 48px;
  }
  .little-text {
    font-size: 10px;
  }
  .underline {
    width: 810px;
  }
  .main-block .left-block {
    width: 390px;
  }
  .main-block .left-block img {
    width: 370px;
  }
  .main-block .left-block .small-img img {
    height: 380px;
  }
  .main-block .right-block .img {
    width: 370px;
  }
  .main-block .right-block .div-btn {
    width: 440px;
  }
  .top-navbar img {
    width: 140px;
  }
  .top-navbar .nav-ul a {
    font-size: 12px;
  }
  .top-navbar .basket img {
    width: 30px;
    margin-top: 2px;
  }
  .main-block p.little-text {
    width: 370px;
  }
  .orange-text.small-orange-text {
    font-size: 15px;
  }
  .card .card-images img {
    width: 400px;
    height: 490px;
  }
  .card img {
    width: 55px;
    height: 55px;
  }
  .font-small-roboto {
    font-size: 25px;
  }
  .container .video {
    width: 790px;
  }
  .container .icon {
    width: 210px;
    margin-left: 400px;
    margin-top: -310px;
  }
  .black-text {
    font-size: 14px;
  }
  .video-text .col-4 img {
    width: 130px;
    margin-left: 50px;
  }
  .video-text .col-4 h2 {
    font-size: 18px;
  }
  .orange-card {
    padding: 100px 16px 40px 16px;
  }
  .card.reverse-card .card-images img {
    height: 460px;
  }
  .card.reverse-card .card-content p img {
    width: 13px;
    height: 13px;
  }
  .white-block {
    width: 320px;
    height: 250px;
    padding: 30px 35px 55px 35px;
    margin-left: 240px;
  }
  .photos .col-6 img {
    width: 400px;
    height: 230px;
  }

  .row.white-blocks .col-4 {
    width: 350px;
  }
  .row.white-blocks .col-4:nth-child(2) {
    margin-left: 553px;
  }
  .second-photo {
    margin-left: 443px;
  }
  .white-blocks .title-font-roboto {
    font-size: 20px;
  }
  .btns {
    margin-left: 380px;
    width: 400px;
  }
  .btns .orange-btn {
    margin-right: 80px;
  }
  footer .left-sidebar {
    width: 270px;
  }
  footer .left-sidebar img {
    width: 140px;
  }
  footer .footer-navbar a {
    font-size: 12px;
  }
  footer .footer-navbar {
    width: 130px;
  }
  footer .footer-card {
    margin-left: 30px;
    padding: 30px 40px 30px 35px;
  }
  footer .footer-card .btn.white-btn {
    width: 236px;
  }
  .black-box {
    width: 30px;
    height: 30px;
  }
  .first-box {
    margin-left: 75px;
  }
  .inline p.black-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  .btn {
    padding: 11px 15px 11px 15px;
    font-size: 10px;
    height: 43px;
  }
  .content h1 {
    font-size: 26px;
  }
  .content p {
    font-size: 13px;
  }
  .content .btn.orange-btn {
    margin-right: 0;
  }
  .content .btn.white-btn {
    width: 100px;
    margin-top: -43px;
    margin-left: 10px;
    margin-right: 0;
  }
  header .content {
    width: 400px;
  }
  .container .top-navbar .img-div {
    margin: 30px 100px;
  }
  .container .top-navbar .nav-ul {
    margin: 30px 50px;
  }
  .container .basket {
    margin: 30px 10px;
  }
  .container .top-navbar .btn.orange-btn {
    margin: 20px;
    margin-left: 10px;
  }
  .container header {
    margin-left: 100px;
    height: 350px;
  }
  .container header .content {
    margin-top: 80px;
  }
  header .img img {
    width: 343px;
  }
  main .main-block .left-block img {
    width: 300px;
    margin-top: 10px;
  }
  main .main-block img.img {
    margin: 0;
    height: 370px;
    width: 300px;
  }
  main .main-block .right-block img.img {
    width: 300px;
  }
  main .main-block .right-block p {
    font-size: 12px;
  }
  main .main-block .right-block p img {
    width: 12px;
  }
  .title-font-roboto {
    font-size: 26px;
  }
  .font-roboto {
    font-size: 26px;
  }
  .orange-text {
    font-size: 26px;
  }
  .little-text {
    font-size: 11px;
  }
  .block-div .col-3:nth-child(1) {
    padding-left: 100px;
  }
  .block-div .col-3 {
    padding-left: 13px;
  }
  .underline {
    width: 620px;
    margin-left: 100px;
  }
  .main-block .left-block {
    width: 300px;
    margin: 0 20px 0 100px;
  }
  .main-block .right-block .div-btn {
    width: 300px;
    margin-left: 70px;
  }
  .top-navbar img {
    width: 130px;
  }
  .top-navbar .nav-ul a {
    font-size: 9px;
  }
  .top-navbar .basket img {
    width: 18px;
  }
  .main-block p.little-text {
    width: 300px;
  }
  .orange-text.small-orange-text {
    font-size: 12px;
  }
  .card {
    margin: 160px 100px 50px 100px;
  }
  .card-content {
    margin: 10px;
  }
  .card .font-small-roboto {
    font-size: 23px;
  }
  .card .card-content .row .col-6.card-icon {
    width: 100px;
    height: 40px;
    padding: 0;
  }
  .card .card-content .btn.orange-btn {
    margin: 0;
    width: 100px;
  }
  .card .card-images img {
    width: 300px;
    height: 340px;
  }
  .card img {
    width: 35px;
    height: 35px;
  }
  .container .video {
    width: 580px;
    margin: -350px 0 0 100px;
  }
  .container .icon {
    width: 160px;
    margin-left: 310px;
    margin-top: -260px;
  }
  .topside .btn.orange-btn {
    margin: 10px;
    width: 140px;
  }
  .card.orange-card img {
    width: 100px;
  }
  .card.orange-card .btn {
    margin: 10px;
    width: 100px;
  }
  .row.video-text {
    margin: 100px;
  }
  .card.card.reverse-card .card-content {
    margin: 0 100px;
  }
  .black-text {
    font-size: 12px;
  }

  .video-text .col-4 img {
    width: 100px;
    margin-left: 45px;
  }
  .video-text .col-4 h2 {
    font-size: 14px;
  }
  .orange-card {
    margin-left: 100px;
    width: 600px;
    padding: 60px 10px 35px 10px;
  }
  .orange-card .title-font-roboto {
    font-size: 14px;
  }
  .card.reverse-card {
    margin-left: 100px;
  }
  .card.reverse-card .card-images img {
    height: 350px;
  }
  .card.reverse-card .card-content p img {
    width: 12px;
    height: 12px;
  }
  .img-text {
    font-size: 12px;
  }
  div.white-block {
    padding: 17px;
    margin-top: -300px;
    margin-left: 190px;
    width: 250px;
    height: 260px;
  }
  .photos .col-6 img {
    width: 300px;
    height: 140px;
  }
  .row.white-blocks .col-4 {
    padding: 15px;
    width: 240px;
    height: 200px;
  }

  .row.white-blocks .col-4:nth-child(2) {
    margin-left: 420px;
  }
  .second-photo {
    margin-left: 310px;
  }
  .btns {
    margin: 140px 280px 40px;
  }
  .white-blocks .title-font-roboto {
    font-size: 12px;
  }
  footer .left-sidebar {
    width: 200px;
    margin-left: 100px;
  }
  footer .left-sidebar img {
    width: 140px;
  }
  footer .footer-navbar a {
    font-size: 10px;
  }
  footer .footer-card {
    width: 260px;
    margin-left: 30px;
    padding: 10px 40px 30px 55px;
    height: 250px;
  }
  .footer-card .btn {
    width: 150px;
    height: 40px;
  }
  footer .footer-card .btn.white-btn {
    width: 150px;
    height: 40px;
    padding: 0;
  }
  footer div.inline {
    margin-left: 100px;
  }
  .inline p.black-text {
    font-size: 9px;
  }
  .font-small-roboto {
    font-size: 26px;
  }
  .black-little-text {
    font-size: 11px;
  }
  footer .inline .black-box {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .btn {
    padding: 11px 14px 11px 14px;
    font-size: 9px;
    height: 43px;
  }
  .content h1 {
    font-size: 25px;
  }
  .content p {
    font-size: 11px;
  }
  .content .btn.orange-btn {
    margin-right: 0;
  }
  .content .btn.white-btn {
    width: 130px;
    margin-top: -43px;
    margin-left: 100px;
    margin-right: 0;
  }
  header .content {
    width: 250px;
  }
  .container .top-navbar .img-div {
    margin: 20px 50px;
  }
  .container .top-navbar .nav-ul {
    margin: 20px 10px;
  }
  .container .basket {
    margin: 25px 10px;
  }
  .container .top-navbar .btn.orange-btn {
    margin: 10px;
  }
  .container header {
    margin-left: 50px;
    height: 250px;
  }
  .container header .content {
    margin-top: 30px;
  }
  header .img img {
    width: 256px;
  }
  main .main-block .left-block img {
    width: 250px;
    margin-top: 10px;
  }
  main .main-block img.img {
    margin: 0;
    height: 370px;
    width: 250px;
  }
  main .main-block .right-block img.img {
    width: 240px;
  }
  main .main-block .right-block p {
    font-size: 11px;
  }
  main .main-block .right-block p img {
    width: 11px;
  }
  .title-font-roboto {
    font-size: 25px;
  }
  .font-roboto {
    font-size: 25px;
  }
  .orange-text {
    font-size: 25px;
  }
  .little-text {
    font-size: 10px;
  }
  .block-div .col-3:nth-child(1) {
    padding-left: 50px;
  }
  .underline {
    width: 510px;
    margin-left: 50px;
  }
  .main-block .left-block {
    width: 250px;
    margin-left: 50px;
  }
  .main-block .right-block .div-btn {
    width: 300px;
    margin-left: 10px;
  }
  .top-navbar img {
    width: 130px;
  }
  .top-navbar .nav-ul a {
    font-size: 8px;
  }
  .top-navbar .basket img {
    width: 16px;
  }
  .main-block p.little-text {
    width: 250px;
  }
  .orange-text.small-orange-text {
    font-size: 11px;
  }
  .card {
    margin: 160px 50px 50px;
  }
  .card-content {
    margin: 10px;
  }
  .card .font-small-roboto {
    font-size: 21px;
  }
  .card .card-content .row .col-6.card-icon {
    width: 90px;
    height: 40px;
    padding: 0;
  }
  .card .card-content .btn.orange-btn {
    margin: 0;
    width: 100px;
  }
  .card .card-images img {
    width: 200px;
    height: 270px;
  }
  .card img {
    width: 25px;
    height: 25px;
  }
  .container .video {
    width: 480px;
    margin: -350px 50px 0 50px;
  }
  .container .icon {
    width: 110px;
    margin-left: 240px;
    margin-top: -250px;
  }
  .paragraph {
    margin: 50px;
  }
  .topside {
    margin-left: 50px;
  }
  .topside .btn.orange-btn {
    width: 110px;
  }
  .card.orange-card img {
    width: 100px;
  }
  .card.orange-card .btn {
    margin: 10px;
    width: 100px;
  }
  .row.video-text {
    margin: 50px;
  }
  .card.card.reverse-card .card-content {
    margin: 0 10px;
  }
  .black-text {
    font-size: 12px;
  }
  .background-color {
    padding-left: 10px;
  }
  .video-text .col-4 img {
    width: 80px;
    margin-left: 30px;
  }
  .video-text .col-4 h2 {
    font-size: 14px;
  }
  .orange-card {
    margin-left: 50px;
    width: 480px;
    padding: 60px 10px 35px 10px;
  }
  .orange-card .title-font-roboto {
    font-size: 15px;
  }
  .card.reverse-card {
    margin-left: 50px;
  }
  .card.reverse-card .card-images img {
    height: 250px;
  }
  .card.reverse-card .card-content p img {
    width: 11px;
    height: 11px;
  }
  .img-text {
    font-size: 11px;
  }
  div.white-block {
    padding: 12px;
    margin-top: -210px;
    margin-left: 84px;
    width: 170px;
    height: 220px;
  }
  .photos {
    margin-left: 50px;
  }
  .photos .col-6 img {
    margin-left: -50px;
    width: 220px;
    height: 110px;
  }
  .row.white-blocks .col-4 {
    padding: 12px;
    width: 190px;
    height: 170px;
  }
  .row.white-blocks .col-4:nth-child(1) {
    margin-left: 60px;
    margin-top: -40px;
  }
  .row.white-blocks .col-4:nth-child(2) {
    margin-left: 300px;
    margin-top: -40px;
  }
  .second-photo {
    margin-left: 240px;
  }
  .btns {
    margin: 110px 190px 40px;
  }
  .white-blocks .title-font-roboto {
    font-size: 11px;
  }
  footer .left-sidebar {
    width: 200px;
    margin-left: 50px;
  }
  footer .left-sidebar img {
    width: 120px;
  }
  footer .footer-navbar a {
    font-size: 11px;
  }
  footer .footer-navbar {
    display: none;
  }
  footer .footer-card {
    width: 260px;
    margin-left: 30px;
    padding: 10px 40px 30px 55px;
    height: 250px;
  }
  .footer-card .btn {
    width: 150px;
    height: 40px;
  }
  footer .footer-card .btn.white-btn {
    width: 150px;
    height: 40px;
    padding: 0;
  }
  footer div.inline {
    margin-left: 50px;
  }
  .inline p.black-text {
    font-size: 10px;
  }
  .font-small-roboto {
    font-size: 24px;
  }
  .black-little-text {
    font-size: 14px;
  }
  footer .inline .black-box {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .btn {
    padding: 9px 13px 9px 13px;
    font-size: 7px;
    height: 43px;
  }
  .content h1 {
    font-size: 24px;
  }
  .content p {
    font-size: 10px;
  }
  .content .btn.orange-btn {
    margin-right: 0;
  }
  .content .btn.white-btn {
    width: 100px;
    margin-top: -43px;
    margin-left: 100px;
    margin-right: 0;
  }
  header .content {
    width: 200px;
  }
  .container .top-navbar .img-div {
    margin: 20px 10px;
  }
  .container .top-navbar .nav-ul {
    margin: 20px 10px;
  }
  .container .basket {
    margin: 20px 10px;
  }
  .container .top-navbar .btn.orange-btn {
    margin: 10px;
  }
  .container header {
    margin-left: 10px;
    height: 150px;
  }
  .container header .content {
    margin-top: 10px;
  }
  header .img {
    margin-left: 30px;
  }

  header .img img {
    width: 188px;
  }
  main .main-block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  main .main-block .orange-text.small-orange-text {
    text-align: center;
  }
  main .main-block .left-block img {
    width: 300px;
    margin: 10px auto;
  }
  main .main-block .left-block {
    width: 400px;
  }
  main .main.block .right-block {
    width: 400px;
  }
  main .main-block .right-block img.img {
    width: 300px;
    margin: 0 auto;
  }
  main .main-block .right-block p {
    font-size: 10px;
    text-align: center;
  }
  main .main-block .little-text {
    margin-left: 110px;
  }
  main .main-block .right-block p img {
    width: 10px;
  }
  .title-font-roboto {
    font-size: 24px;
  }
  .font-roboto {
    font-size: 24px;
  }
  .orange-text {
    font-size: 24px;
  }
  .little-text {
    font-size: 9px;
  }
  .block-div .col-3:nth-child(1) {
    padding: 10px;
  }
  .underline {
    width: 410px;
    margin: 10px;
  }
  .main-block .left-block {
    width: 200px;
    margin: 10px;
  }
  .main-block .right-block .div-btn {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 120px;
  }
  main .main-block .right-block .div-btn .btn {
    margin: 5px;
    width: 200px;
  }
   .top-navbar img {
    width: 100px;
  }
  .top-navbar .nav-ul a {
    font-size: 7px;
  }
  .top-navbar .basket img {
    width: 15px;
  }
  .main-block p.little-text {
    width: 200px;
  }
  .orange-text.small-orange-text {
    font-size: 10px;
  }
  .card {
    margin: 160px 10px 50px 10px;
  }
  .card-content {
    margin: 10px;
  }
  .card .font-small-roboto {
    font-size: 20px;
  }
  .card .card-content .row .col-6.card-icon {
    width: 90px;
    height: 40px;
    padding: 0;
  }
  .card .card-content .btn.orange-btn {
    margin: 0;
    width: 100px;
  }
  .card .card-images img {
    width: 200px;
    height: 270px;
  }
  .card img {
    width: 25px;
    height: 25px;
  }
  .container .video {
    width: 420px;
    margin: -350px 0 0 10px;
  }
  .container .icon {
    width: 100px;
    margin-left: 170px;
    margin-top: -280px;
  }
  .paragraph {
    margin: 10px;
  }
  .topside {
    margin-left: 10px;
  }
  .topside .btn.orange-btn {
    margin: 10px;
    width: 100px;
  }
  .card.orange-card img {
    width: 100px;
  }
  .card.orange-card .btn {
    margin: 10px;
    width: 100px;
  }
  .row.video-text {
    margin: 10px;
  }
  .card.card.reverse-card .card-content {
    margin: 0 10px;
  }
  .black-text {
    font-size: 12px;
  }
  .background-color {
    padding-left: 10px;
  }
  .video-text .col-4 img {
    width: 80px;
    margin-left: 10px;
  }
  .video-text .col-4 h2 {
    font-size: 14px;
  }
  .orange-card {
    margin-left: 10px;
    width: 420px;
    padding: 60px 10px 35px 10px;
  }
  .orange-card .vector {
    display: none;
  }
  .orange-card .btn {
    width: 200px;
    margin-left: -270px;
    margin-top: 100px;
  }
  .orange-card .btn.white-btn {
    width: 200px;
    margin-top: 180px;
  }
  .orange-card .title-font-roboto {
    font-size: 14px;
  }
  .card.reverse-card {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .card.reverse-card .card-images img {
    width: 250px;
    height: 300px;
    margin: 0 80px 100px;
  }
  .card.reverse-card .card-content p img {
    width: 9px;
    height: 9px;
  }
  .img-text {
    font-size: 10px;
  }
  div.white-block {
    padding: 15px;
    margin: -480px 0 0 200px;
    width: 200px;
    height: 200px;
  }
  .card.reverse-card .card-content .paragraph {
    text-align: center;
  }
  .card.reverse-card .btn.orange-btn {
    margin-left: 150px;
  }
  .photos {
    margin-left: 100px;
  }
  .photos .col-6 img {
    margin-left: -100px;
    width: 410px;
    height: 200px;
  }
  .row.white-blocks .col-4 {
    padding: 10px;
    width: 250px;
    height: 160px;
  }
  .row.white-blocks .col-4:nth-child(1) {
    margin-left: 10px;
    margin-top: -40px;
  }
  .row.white-blocks .col-4:nth-child(2) {
    margin-left: 10px;
    margin-top: 300px;
  }
  .second-photo {
    margin: 350px 0;
  }
  .btns {
    width: 250px;
    margin: 450px 140px 0;
  }
  .white-blocks .title-font-roboto {
    font-size: 10px;
  }
  footer .left-sidebar {
    width: 150px;
    margin-left: 10px;
  }
  footer .left-sidebar img {
    width: 120px;
  }
  footer .footer-navbar {
    display: none;
  }
  footer .footer-card {
    width: 260px;
    margin-left: 50px;
    padding: 60px 40px 30px 55px;
    height: 250px;
  }
  footer .footer-card .btn.black-btn {
    width: 150px;
  }
  footer .footer-card .btn.white-btn {
    margin-top: 10;
  }
  footer div.inline {
    margin: 10px;
  }
  .inline p.black-text {
    font-size: 9px;
  }
  .font-small-roboto {
    font-size: 24px;
  }
  .black-little-text {
    font-size: 14px;
  }
  footer .inline .black-box {
    display: none;
  }
}
