@media screen and (max-width: 1200px) {
  .btn {
    padding: 19px 33px 23px 30px;
    font-size: 15px;
    margin-right: 74px;
    height: 63px;
  }
  .content h1 {
    font-size: 54px;
  }
  .content p {
    font-size: 17px;
  }
  header .img img {
    width: 540px;
  }
  .title-font-roboto {
    font-size: 33px;
  }
  .font-roboto {
    font-size: 54px;
  }
  .orange-text {
    font-size: 54px;
  }
  .little-text {
    font-size: 14px;
  }
  .underline {
    width: 980px;
  }
  .main-block .left-block {
    width: 490px;
  }
  .main-block .left-block img {
    width: 470px;
  }
  .main-block .left-block .small-img img {
    height: 480px;
  }
  .main-block .right-block .img {
    width: 470px;
  }
  .main-block .right-block .div-btn {
    width: 540px;
  }
  .top-navbar img {
    width: 160px;
  }
  .top-navbar .nav-ul a {
    font-size: 15px;
  }
  .top-navbar .basket img {
    width: 35px;
  }
  .main-block p.little-text {
    width: 470px;
  }
  .orange-text.small-orange-text {
    font-size: 18px;
  }
  .card .card-images img {
    width: 450px;
    height: 550px;
  }
  .card img {
    width: 65px;
    height: 65px;
  }
  .container .video {
    width: 990px;
  }
  .container .icon {
    width: 260px;
    margin-left: 460px;
    margin-top: -410px;
  }
  .black-text {
    font-size: 16px;
  }
  .video-text .col-4 img {
    width: 160px;
    margin-left: 70px;
  }
  .video-text .col-4 h2 {
    font-size: 20px;
  }
  .orange-card {
    padding: 120px 18px 60px 18px;
  }
  .card.reverse-card .card-images img {
    height: 520px;
  }
  .card.reverse-card .card-content p img {
    width: 14px;
    height: 14px;
  }
  .white-block {
    width: 340px;
    height: 270px;
    padding: 35px 40px 57px 38px;
    margin-left: 280px;
  }
  .photos .col-6 img {
    width: 450px;
    height: 290px;
  }
  .row.white-blocks .col-4 {
    width: 410px;
  }
  .row.white-blocks .col-4:nth-child(2) {
    margin-left: 633px;
  }
  .second-photo {
    margin-left: 523px;
  }
  .white-blocks .title-font-roboto {
    font-size: 22px;
  }
  footer .left-sidebar {
    width: 300px;
  }
  footer .left-sidebar img {
    width: 160px;
  }
  footer .footer-navbar a {
    font-size: 15px;
  }
  footer .footer-navbar {
    width: 150px;
  }
  footer .footer-card {
    width: 300px;
    margin-left: 30px;
    padding: 30px 40px 30px 35px;
  }
  .footer-card .btn {
    width: 236px;
  }
  .footer-card .btn.white-btn {
    width: 26px;
    padding: 16px 25px 20px 25px;
  }
  .first-box {
    margin-left: 115px;
  }
  .inline p.black-text {
    font-size: 14px;
  }
  .font-small-roboto {
    font-size: 27px;
  }
  .black-little-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .btn {
    padding: 16px 28px 20px 28px;
    font-size: 14px;
    margin-right: 70px;
  }
  .content h1 {
    font-size: 50px;
  }
  .content p {
    font-size: 15px;
  }
  header .img img {
    width: 450px;
  }
  .title-font-roboto {
    font-size: 27px;
  }
  .font-roboto {
    font-size: 50px;
  }
  .orange-text {
    font-size: 50px;
  }
  .little-text {
    font-size: 12px;
  }
  .underline {
    width: 810px;
  }
  .main-block .left-block {
    width: 390px;
  }
  .main-block .left-block img {
    width: 370px;
  }
  .main-block .left-block .small-img img {
    height: 380px;
  }
  .main-block .right-block .img {
    width: 370px;
  }
  .main-block .right-block .div-btn {
    width: 440px;
  }
  .top-navbar img {
    width: 140px;
  }
  .top-navbar .nav-ul a {
    font-size: 12px;
  }
  .top-navbar .basket img {
    width: 30px;
    margin-top: 2px;
  }
  .main-block p.little-text {
    width: 370px;
  }
  .orange-text.small-orange-text {
    font-size: 15px;
  }
  .card .card-images img {
    width: 400px;
    height: 490px;
  }
  .card img {
    width: 55px;
    height: 55px;
  }
  .font-small-roboto {
    font-size: 25px;
  }
  .container .video {
    width: 790px;
  }
  .container .icon {
    width: 210px;
    margin-left: 400px;
    margin-top: -310px;
  }
  .black-text {
    font-size: 14px;
  }
  .video-text .col-4 img {
    width: 130px;
    margin-left: 50px;
  }
  .video-text .col-4 h2 {
    font-size: 18px;
  }
  .orange-card {
    padding: 100px 16px 40px 16px;
  }
  .card.reverse-card .card-images img {
    height: 460px;
  }
  .card.reverse-card .card-content p img {
    width: 13px;
    height: 13px;
  }
  .white-block {
    width: 320px;
    height: 250px;
    padding: 30px 35px 55px 35px;
    margin-left: 240px;
  }
  .photos .col-6 img {
    width: 400px;
    height: 230px;
  }

  .row.white-blocks .col-4 {
    width: 350px;
  }
  .row.white-blocks .col-4:nth-child(2) {
    margin-left: 553px;
  }
  .second-photo {
    margin-left: 443px;
  }
  .white-blocks .title-font-roboto {
    font-size: 20px;
  }
  .btns {
    margin-left: 380px;
    width: 400px;
  }
  .btns .orange-btn {
    margin-right: 80px;
  }
  footer .left-sidebar {
    width: 270px;
  }
  footer .left-sidebar img {
    width: 140px;
  }
  footer .footer-navbar a {
    font-size: 12px;
  }
  footer .footer-navbar {
    width: 130px;
  }
  footer .footer-card {
    margin-left: 30px;
    padding: 30px 40px 30px 35px;
  }
  footer .footer-card .btn.white-btn {
    width: 236px;
  }
  .black-box {
    width: 30px;
    height: 30px;
  }
  .first-box {
    margin-left: 75px;
  }
  .inline p.black-text {
    font-size: 12px;
  }
}
