@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.top-navbar {
  display: flex;
  margin-bottom: 43px;
}
.nav-ul {
  display: flex;
  margin-right: auto;
  margin-top: 44px;
  list-style-type: none;
}
.img-div {
  margin-top: 43px;
  margin-left: 110px;
  margin-right: 24.14;
}
.nav-ul li a {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  text-decoration: none;
  margin-right: 26px;
  color: black;
}
.btn a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
  padding: 16px 24px 20px 24px;
  background-color: orange;
  border-radius: 10px;
}
.btn {
  margin-top: 32px;
  margin-right: 110px;
  background-color: none;
  border: none;
  background: none;
}
.container {
  max-width: 1378;
}
.container header {
  display: flex;
  margin-left: 100px;
}
.img {
  flex: 0 0 45%;
  width: 577px;
  height: 809px;
  left: 703px;
  margin-left: 40px;
}
.content {
  flex: 0 0 44%;
  margin-top: 207px;
}
.content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}
.content p {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  color: rgba(0, 0, 0, 0.286);
  margin-bottom: 44px;
}
.white-btn {
  padding: 0;
  border: none;
}
.white-btn a {
  padding: 24px 30px 22px 30px;
  background-color: white;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  line-height: 20px;
  margin-left: -70px;
}
.orange-btn {
  padding: 0;
  border: none;
}
.orange-btn a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: orange;
  border-radius: 10px;
  border: none;
  padding: 22px 36px 26px 36px;
  line-height: 20px;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 70px;
}
.col-3:nth-child(1) {
  padding-left: 120px;
}
.block-div {
  display: flex;
}
.block-number {
  display: flex;
  margin-top: 120px;
}
.font-roboto {
  font-size: 60px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  text-align: center;
}
.orange-text {
  font-size: 60px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: orange;
  margin-bottom: 0;
  text-align: center;
}
.little-text {
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: #6e6e6e;
  
}
